
{wst:ads code="index-top-ads" cache='86400' id="tads"}
{if ($tads['adFile']!='')}
<div class="index-top-ads">
  <a href="{$tads['adURL']}" {if ($tads['isOpen'])}target='_blank'{/if} {if ($tads['adURL']!='')}onclick="WST.recordClick({$tads['adId']})"{/if} onfocus="this.blur();">
    <img src="__ROOT__/{$tads['adFile']}"></a>
  <a href="javascript:;" class="close-ads" onclick="WST.closeAds(this)"></a>
</div>
{/if}
{/wst:ads}

<div class="wst-header">
    <div class="wst-nav">
		<ul class="headlf">
		{if condition="session('WST_SHOP.shopId') >0"}
		   <li class="drop-info">
			  <div class="drop-infos">
			  欢迎您，{:session('WST_SHOP.shopName')}
			  </div>
			</li>
			<li class="spacer">|</li>
			<li class="drop-info">
			  <div><a href="javascript:WST.logout();">退出</a></div>
			</li>
			{else /}
			<!--<li class="drop-info">-->
			  <!--<div>欢迎来到{:WSTMSubstr(WSTConf('CONF.mallName'),0,13)}<a href="{:Url('home/users/login')}" onclick="WST.currentUrl();">&nbsp;&nbsp;请&nbsp;登录</a></div>-->
			<!--</li>-->
			<!--<li class="spacer">|</li>-->
			<!--<li class="drop-info">-->
			  <!--<div><a href="{:Url('home/users/regist')}" onclick="WST.currentUrl();">免费注册</a></div>-->
			<!--</li>-->
			{/if}
		</ul>
		
		<div class="wst-clear"></div>
  </div>
</div>
<script>
$(function(){
	//二维码
	//参数1表示图像大小，取值范围1-10；参数2表示质量，取值范围'L','M','Q','H'
	var a = qrcode(8, 'H');
	var url = window.location.host+window.conf.APP;
	a.addData(url);
	a.make();
	$('#qrcodea').html(a.createImgTag());
});
function goShop(id){
  location.href=WST.U('home/shops/home','shopId='+id);
}
</script>
<script type='text/javascript' src='__STYLE__/js/qrcode.js'></script>